@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

body {
	margin: 0;
	padding: 0;
	font-family: 'Lato', sans-serif;
}

::-webkit-scrollbar {
	width: 10px;
	height: 10px;
	overflow: auto;
	float: left;
	margin: 0 10px;
}

::-webkit-scrollbar-thumb {
	background: #666;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
